% Options for the Erlang compiler.
{erl_opts, [
    % DO NOT DISABLE THIS. If you get a warning, it means you are doing something wrong.
    %warnings_as_errors
]}.
% Enable code coverage and generating the HTML details.
{cover_enabled, true}.
% Enable printing the coverage summary at the end of the build.
{cover_print_enabled, true}.

% dependencies
{deps, [
	{reloader, ".*",
		{hg, "https://bitbucket.org/marco_m/reloader", "default"}},
	{meck, ".*",
		{git, "https://github.com/eproxus/meck.git", "master"}}
]}.